.appContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100vw;
}

.restCont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--backroundColor);
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 0; 
}
